%% rotating log and errors
[{sasl, [
    %% minimise shell error logging
    {sasl_error_logger, false},

    %% log only error
    {errlog_type, error},

    %% logfile directory
    {error_logger_mf_dir, "/var/log/nxbre-workestrator"},

    %% max size per logfile (10MB = 10485760)
    {error_logger_mf_maxbytes, 10485760},

    %% maximum number of logfiles
    {error_logger_mf_maxfiles, 10}
]}].
