%% Edoc options
{edoc_opts, [{application, ["erobix-server"]}]}.

%% Dependencies
{deps, [
  {mochiweb, ".*", {hg, "http://bitbucket.org/basho/mochiweb", "588522cf1702"}},
  {erldis,   ".*", {git, "git://github.com/japerk/erldis.git", "441aa4e6ca448e5162dd"}},
  {erlsom,   ".*", {git, "git://github.com/danw/erlsom.git", "84fed075d689e7cbe98e"}},
  {log4erl,  ".*", {git, "git://github.com/ddossot/log4erl.git", "27203b0bd9d4477b9484"}},
  {ibrowse,  ".*", {git, "git://github.com/ddossot/ibrowse.git", "4f8d16a253788d6182a0"}},
  {etap,     ".*", {git, "git://github.com/ddossot/etap.git", "887456783315b6136201"}}
]}.
